.navbar {
  padding: 20px 0;
  font-family: Poppins;
  background-color: var(--primary);
}

.link {
  color: #bbbbcb;


}

.contactBtn {
  margin-bottom: 20px;
  padding: 5px 10px;
  border-radius: 40px;
  display: inline-block;

  border: 1px solid #f4f6fc;
}

.active {
  color: #fff;
}

a {
  text-decoration: none !important;
  color: white !important;

}

.d-flex a {
  padding: 20px;
}